:root {
  --header-footer-bg: #2e4052;
  --header-text: #e3e2df;
  --light-pink: #e3afbc;
  --dark-pink: #a61c35;
  --primary-btn-text-color: #151630;
  --bg-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* transition: all 0.3s ease; */
}

html {
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/* -----------------x----------------- CSS Reset -------x--------------------- */
/* -------------------------------- Utility Classes --------------------------- */
i {
  height: 1em;
  width: 1em;
  font-size: 1.7rem;
}

a {
  cursor: pointer;
}

.primary-btn {
  background: white;
  color: var(--primary-btn-text-color) !important;
  padding: 0.8rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.standard-icon {
  color:grey;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  background: var(--bg-color);
  border-radius: 1.3rem;
  margin-left: 1rem;
}

.standard-icon i {
  display: block;
  position: relative;
  font-size: 2rem;
  color: grey;
  font-weight: 700;
}
.standard-icon .title{
  position: absolute;
  bottom: 53px;
  left: -2px;
  display: block;
  width: max-content;
  background: white !important;
  color: var(--header-footer-bg) !important;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  visibility: hidden;
  opacity: 0;
}
.standard-icon:hover .title{
  visibility: visible;
  opacity: 1;
}

.standard-icon span {
  font-size: 1.5rem;
  color: gray;
}

.topheading {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 600;
  color: var(--dark-pink);
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.topheading i{
  margin-right: 1rem;
}


.topheading:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 0.2rem solid var(--dark-pink);
  width: 13vh;
}

@media screen and (min-width: 768px) {
  .topheading:after {
    width: 9vh;
  }
}

.custom-heading {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.1rem;
  background: var(--dark-pink);
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 0 1rem 0 1rem;
}

.custom-heading i {
  vertical-align: middle;
  margin-right: 1rem;
}

.grid-container {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* -----------------x-------------- Utility Classes -------x------------------- */
/* -------------------------------- Layout 1 ---------------------------------- */
.layout-one-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.layout-one-container .left {
  background-color: white;
  padding: 2rem 0rem;
  border-top: 0.1rem solid var(--bg-color);
  flex-basis: 0%;
  align-self: flex-start;
  flex-basis: 100%;
  order: 3;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.layout-one-container .mid {
  flex-basis: 100%;
  padding: 2rem 2rem;
  font-size: 1.4rem;
}

.layout-one-container .right {
  align-self: flex-start;
  flex-basis: 100%;
  padding: 2rem 2rem;
}

@media screen and (min-width: 992px) {
  .layout-one-container .left {
    order: 1;
    height: 95vh;
    position: sticky;
    top: 0;
    border-top: none;
    border-right: 0.1rem solid var(--bg-color);
    flex-basis: 0%;
    padding: 0rem 2rem;
  }

  .layout-one-container .mid {
    z-index: 0;
    order: 2;
    flex-basis: 91%;
  }

  .layout-one-container .right {
    order: 3;
    flex-basis: 92.6%;
    margin-left: 8rem;
    padding: 0rem 3rem;
  }
}

/* -----------------x-------------- Layout 1 ------------x--------------------- */
/* -------------------------------- Layout 2 ---------------------------------- */
.layout-two-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.layout-two-container .left {
  background: white;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  flex-basis: 100%;
  border-right: 0.1rem solid var(--bg-color);
}
.layout-two-container .left .custom-heading {
 margin-bottom: 2rem !important;
}

.layout-two-container .right {
  align-self: flex-start;
  flex-basis: 100%;
  position: relative;
  top: unset;
  padding: 0rem 2rem;
}

.layout-two-container .trending-songs {
  border-bottom: none;
}

@media screen and (min-width: 1200px) {
  .layout-two-container .left {
    flex-basis: 70.5%;
  }

  .layout-two-container .right {
    position: sticky;
    top: 0;
    flex-basis: 27%;
    padding: 2rem 2rem;
  }

  .layout-two-container .trending-songs {
    min-height: 100vh;
  }
}
/* ------------------x------------- Layout 2 -------------x-------------------- */
.layout-two-container .grid-container{
  border-bottom: 0.1rem solid var(--bg-color);
  padding-bottom: 3rem;
  margin: 1rem 0rem;
}
@media screen and (min-width: 1200px){
  .layout-two-container .grid-container{
    border-bottom: none;
    padding: 0rem 0rem;
  }
}

/* ------------------x------------- Toast -------------x-------------------- */
.Toastify__toast-container {
  font-family: 'Inter', sans-serif; 
  color: #ffffff !important; 
  font-size: 1.4rem !important;
}


.Toastify__toast--success,
.Toastify__toast--error,
.Toastify__toast--info {
  background: #ffffff !important;
  color: var(--header-footer-bg) !important; 
  font-size: 1.4rem !important;
}

.Toastify__close-button--light {
  opacity: unset !important;
}

.Toastify__close-button {
  color: var(--header-footer-bg) !important;
}
